.Container {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

/* 320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */

@media (min-width: 769px) {
  .Container {
    width: 90%;
    padding: 25px 40px;
  }
}

@media (min-width: 1025px) {
  .Container {
    max-width: 1200px;
    padding: 40px 50px;
  }
}

@media (min-width: 1440px) {
  .Container {
    max-width: 1400px;
  }
}

@media (min-width: 1920px) {
  .Container {
    max-width: 1600px;
  }
}